.card-container {
    border-radius: 10px;
    height: 200px;
    width: 150px;
    background-color: aliceblue;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content {
    color: black;
}